
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    
}

body {
    font-family: 'Muli Regular', sans-serif;
}

li {
    list-style: none;

}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.res-margin {
    margin-bottom: 20px;
}

.section .container .row:after {
    content: "";
    flex: auto;
}

#content {
    display: none;
}

