
.header {
    height: 700px;
    background-image: url('./../images/bg/girl@3x.jpg');
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: 500px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.header__content {
    max-width: 750px;
}

.header__title {
    font-family: 'Lora Regular', serif;
    color: #222;
    font-size: 80px;
    line-height: 1.25;
    margin-bottom: 25px;


}
 
.header__description {
    font-family: 'Muli Light', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #52575D;
    font-weight: 300;
    max-width: 630px;
    margin-bottom: 40px;

}
 
.header__button {
    background-color: #f72464;
    color: white;
    font-family: 'Lora Regular', serif;
    font-size: 20px;
    line-height: 1;
    padding: 14px 45px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.3);
    text-decoration: none;
    transition: all 0.2s ease-in; 
    cursor: pointer;
}

.header__button:hover,
.header__button:active,
.header__button:focus {
    background-color: #da0f4d;
    text-decoration: none;
    box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.4);
    color: white; 
}
 